{% extends 'entidades/index.html' %}


{% block titulo %}
<h1 class="mb-5">Acerca de</h1>
{% endblock titulo %}


{% block contenido %}
    <h1 class="titulo-especial">Mundo Geek Juegos</h1>
    <h2> Historia y Misión:</h2>
    <p>
    Mundo Geek Juegos nació de la pasión compartida por los juegos de mesa, miniaturas y libros entre un grupo de amigos geeks. 
    Fundada en 2015, nuestra misión es acercar la mejor selección de productos relacionados con la cultura geek a todo tipo de 
    públicos, desde principiantes hasta jugadores experimentados, creando experiencias de juego únicas y memorables.
    </p>  
    <h2>Equipo:</h2>
    <p>
    Nuestro equipo está conformado por una mezcla de entusiastas geeks, apasionados por los juegos y ansiosos por compartir su amor 
    por la afición. Desde jugadores ávidos hasta coleccionistas de miniaturas expertos, cada miembro de nuestro equipo aporta 
    su propia experiencia y conocimientos para ofrecer un servicio excepcional a nuestros clientes.
    </p> 
    <h2>Productos y Servicios:</h2>
    <p>
    En Mundo Geek Juegos ofrecemos una amplia gama de juegos de mesa, miniaturas y libros cuidadosamente seleccionados de 
    las mejores marcas y editoriales del mundo geek. Además, brindamos envíos rápidos y seguros, atención al cliente personalizada 
    y promociones especiales para nuestros clientes más leales.
    </p>   
    <h2>Valores:</h2>
    <p>
    En Mundo Geek Juegos valoramos la diversión, la comunidad y la creatividad. Nos esforzamos por promover un ambiente 
    inclusivo y acogedor donde todos los geeks puedan encontrar un lugar para disfrutar de su afición favorita, sin importar 
    su nivel de experiencia.
    </p>
    <h2>Contacto:</h2>
    <p>
    Puedes encontrarnos en nuestra tienda física ubicada en la calle Uruguay 1242, Montevideo city. 
    También puedes contactarnos a través de nuestro correo electrónico info@mundogeekjuegos.com o 
    seguirnos en nuestras redes sociales para mantenerte al día con las últimas novedades.
    </p>
{% endblock contenido %}